<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
<ion-button (click)="PlayVideo()">
  Aca lo puedes presionar
  <ion-icon slot="icon-only"></ion-icon>
</ion-button>
<ion-button (click)="PlayVideo2()">
  Aca lo puedes presionar
  <ion-icon slot="icon-only"></ion-icon>
</ion-button>

</ion-content>
<ion-content class="has-header" padding="true">
	<video controls class="video_content">
	    <source src="video/movie.mp4" type='video/mp4' />
	</video>
</ion-content>

</ion-content>
